.subscription{
  margin-top: 60px;
    

  @include tablet{
    margin-left: 166px;
   
  }
  @include desktop{
       position: relative;
       margin-left: 93px;
       margin-top: 0;
      
    }
    
   }
   .subscription-wrap{
     
     @include desktop{
      display: flex;
      gap: 12px;
     }
   }
   .subscription-label{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #FFFFFF;
   margin-bottom: 20px;
   display: block;
   
   

   
   }
   .subscription-button{
   width: 200px;
   height: 50px;
   background: #2196F3;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   color: #FFFFFF;
   font-family: 'Roboto', sans-serif;
   font-weight: 700;
   font-size: 16px;
   justify-content: center;
   
   align-items: center;
   padding: 10px 28px;
   border: none;
   gap: 10px;

   @include tablet{
    display: flex;
    margin: 0 auto;
    
   }
   @include desktop{
    display: flex;
   }
   }
   .subscription-input{
   width: 450px;
   height: 50px;
   border: 1px solid rgba(255, 255, 255, 0.3);
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
   border-radius: 4px;
   background-color: transparent;
   padding-left: 16px;
   outline: none;
   margin-bottom: 20px;

   @include desktop{
    width: 358px;
   }
   }
   
   
   .backdrop{
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, 0.2);
     position: fixed;
     top: 0;
     transition: opacity 300ms linear, 
     visibility 300ms linear;
   }
   .modal{
     width: 528px;
     min-height: 581px;
     background-color: #FFFFFF;
     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
     border-radius: 4px;
     position: absolute;
     top: 50%;
     left: 50%;
     padding: 40px;
     transform: translate(-50%, -50%) scaleY(1);
     transition: transform 300ms linear;
   }
   
   .modal-close{
     width: 30px;
     height: 30px;
     background-color: transparent;
     border: 1px solid rgba(0, 0, 0, 0.1);
     border-radius: 50%;
     position: absolute;
     right: 8px;
     top: 8px;
     display: flex;
     align-items: center;
     justify-content: center;
     cursor: pointer;
     &:hover,
     &:focus{
     fill:#2196F3;
     transition: opacity 250ms var(--timing-funktion);
     }
   }
   
   
   .backdrop.is-hidden{
     opacity: 0;
     visibility: hidden;
     pointer-events: none;
   }
   .modal-title{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: 1.15;
   text-align: center;
   letter-spacing: 0.03em;
   color: #212121;
   margin-bottom: 12px;
   }
   .modal-input{
     width: 100%;
     height: 40px;
     border: 1px solid rgba(33, 33, 33, 0.2);
     border-radius: 4px;
     outline: transparent;
     padding-left: 30px;
     font-size: 14px;
     color: #757575;
     &:focus{
      border-color: #2196F3;
    }
    &::placeholder{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
      }
   }
   .input-wrap{
     position: relative;
    
   }
   
   .modal-field{
     margin-bottom: 10px;
   }
   .modal-input-icon{
     position: absolute;
     left: 2%;
     top: 50%;
     transform: translateY(-50%);
     .modal-input:focus + &{
      fill: #2196F3;
    }
   }
   
   
   .input-label span, .input-label {
     display: block;
     margin-bottom: 4px;
   }
   .input-label{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   color: #757575;
   
   }
   .modal-text{
     width: 100%;
     height: 120px;
     border: 1px solid rgba(33, 33, 33, 0.2);
     border-radius: 4px;
     padding: 10px;
     resize: none;
     &::placeholder{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
      }
     }
   
    .checkbox{
     -webkit-appearance:none;
     -moz-appearance:none;
     appearance:none;
     position: absolute;
   }
   .checkbox-label{
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: 'Roboto', sans-serif;
   font-size: 14px;
   line-height: 1.71;
   color: #757575;
   margin-top: 20px;
   gap: 7px;
   }
   .checkbox-icon{
     display: inline-block;
     width: 16px;
     height: 15px;
     border: 2px solid #212121;
     border-radius: 4px;
     .checkbox:checked + &{
      border-color: #2196F3;
      background-color: #2196F3;
      background-image: url(../images/icon\ check.svg);
      background-size: contain;
      background-origin:border-box;
    }
   }
   .checkbox-link{
     color: #2196F3;
   }
   
   .checkbox-button{
     text-align: center;
     justify-content: center;
     width: 200px;
     height: 50px;
     background: #2196F3;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
     border-radius: 4px;
     color: #FFFFFF;
     margin-top: 30px;
     border: none;
     align-items: center;
     display: block;
       margin-top: 30px;
       margin-left: auto;
       margin-right: auto;
     
   }
   