:root{
    --primary-text-color:#212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color:#FFFFFF;
    --secondary-background-color: #f5f4fa; 
    --hero-background-color: #2F303A;
    --color-foter-contact: rgba(255, 255, 255, 0.6);
    --color-active-bg: #188CE8;
    --timing-funktion: cubic-bezier(0.4, 0, 0.2, 1)
  }