.header{
  border-bottom: 1px solid #ECECEC;
}
.menu{
    display: flex;
    gap: 50px;
    @include mobile{
      display: none;
    }
}

.menu__link{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms var(--timing-funktion);
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  &:hover,
  &:focus{
     color: var(--accent-color);
 }
   
}

.current{
  color: #2196F3; 
  &::after{
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #2196F3;
    } 
}



.current-active::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color:#2196F3;
  opacity: 0;
  transition: opacity 250ms var(--timing-funktion);
}
.current-active:hover::after{
  opacity: 1;
  
}

.header__conteiner{
    display: flex;
    align-items: center;
}
.navigation{
    display: flex;
    align-items: center;
}
.navigation a{
  display: block;
  
}

.contact{
    display: flex; 
    gap: 50px;
}
.connect{
  margin-left: auto;      
}


.contact__mail{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    fill: #757575;
    transition: color 250ms var(--timing-funktion);
    &:hover,
    &:focus{
    color: var(--accent-color);
    fill: currentColor;
}
}
.contact__icon-envelope{
  margin-right: 10px;   
  width: 16px;
  height: 12px; 
   
}
.menu__item{
  display: flex;
  align-items: center;
}


.contact__tel{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    fill: #757575;
    transition: color 250ms var(--timing-funktion);
    &:hover,
    &:focus{
    color: var(--accent-color);
    fill: currentColor;
}
}
.contact__icon-vector{
  margin-right: 10px;
  width: 10px;
  height: 16px;
}
