.hero{
    background-color: var(--hero-background-color);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    display: block;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    
    url("../images/header_mobile.jpg");
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 

    @include retina {
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    
    url("../images/header_mobile_2x.jpg");
  }
    @include  tablet{
      background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      
      url("../images/header_tablet.jpg");
      @include retina {
        background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        
        url("../images/header_tablet_2x.jpg");
      }
    
    @include desktop{
      background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      
      url("../images/Img_head.jpg");
      @include retina {
        background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        
        url("../images/img_header_2x.jpg");
      }
    }   
    
}


.hero-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    /*font-size: 44px;*/
    /*line-height: 1.36;*/
    letter-spacing: 0.06em;
    max-width: 696px;
    margin: 0 auto 30px;
   
    color: var(--primary-white-color);
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 30px;
    font-weight: 900;
    
    line-height: 1.62;
    text-align: center;
    @include tablet{
      font-size: 26px;
    }
    
    @include desktop {
      font-size: 44px;
      line-height: 1.36;
    }
    
  }
}
   

.hero__conteiner {
  padding: 0;
  max-width: 100%;
}